.build_d
build
site
build_local.py
dist
__pycache__
platforms/Electron/native/node_modules
platforms/Electron/native/build
chromeapp.zip
chromeapp/fcontent/
electron_build/
html5app.zip
html5app/fcontent/
html5app/main.html
html5app/vectordraw_canvas2d_worker.js
html5app/vectordraw_skia_worker.js
phonegap_app.zip
platforms/PhoneGap/appfiles/Fairmotion/www/js/app*.js
platforms/PhoneGap/appfiles/Fairmotion/www/img/*iconsheet*
platforms/PhoneGap/appfiles/Fairmotion/www/js/*.wasm
platforms/PhoneGap/appfiles/Fairmotion/www/js/*.html
src/config/config_local.js
*.pyc
