import os, sys, os.path, math, random, time
import shelve, imp, struct, ply
import mimetypes

#example config_local.py file parameters
serverhost = "127.0.0.1"
serverport = 80
server_root = "/devel/fairmotion/pyserver"
doc_root = "/devel/fairmotion"
files_root = "/devel/fairmotion/fairmotion_user_files"

#base URL, e.g. if fairmotion is hosted on something like 
#www.something.com/fairmotion, instead of just www.something.com

base_path = "/"

#ipaddr of serverhost
ipaddr = "127.0.0.1"

#database connection info; leave blank if using sqlite
#db_host = "localhost"
#db_user = "root"
#db_passwd = "SQPass1286OfDoom"
#db_db = "fairmotion"

json_mimetype = "application/x-javascript"

#I don't think I'm using this one anymore
serv_unit_tests = True

#don't touch this
sp = "/"
